/*

  General settings.
  Output should not be style rules, but could be CSS variables.

  Example: color codes.

  Avoid  : CSS style rules.

*/
/*

  Common components, usable everywhere, can have any position on the page.

  Example: buttons, input boxes, headers.

*/
.action {
  color: #eb1f22;
  border: none;
  background-color: transparent;
  padding-bottom: 0;
  font-family: inherit;
  font-size: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.action:hover {
  text-decoration: none;
}

.action:not(:first-of-type) {
  border-left: 2px solid #eb1f22;
}

.btn.btn-default {
  border-radius: .4em;
  background-color: #205527;
  font-weight: bold;
}

.btn.btn-default:hover {
  color: white;
  text-shadow: 1px 1px 2px  black, 1px 1px 5px  white, 1px 1px 10px white, 1px 1px 20px white, 1px 1px 30px white;
}

.btn.btn-default:disabled {
  background-color: grey;
}

.form-group > label {
  color: #205527;
}

.panel-title {
  color: #205527;
  font-weight: bold;
}

.cc_content_body .panel h3.cc_title {
  color: #205527;
  font-weight: bold;
}

input.form-control {
  border-radius: .3em;
}

.validation-error input.form-control {
  border-color: #eb1f22;
}

.cc_content_body .panel {
  border-bottom: none;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.cc_body {
  color: #205527;
}

.cc_body p > span[class$="_label"] {
  font-weight: bold;
}

#myAccountForm div.cc_myaccount_edit_user_information {
  position: fixed;
  z-index: 1;
  width: 400px;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 8px;
}

.table {
  color: #205527;
}

.data--user-name {
  text-align: left;
}

.data--is-main-user {
  text-align: center;
}

.data--role {
  text-align: left;
}

.data--record-actions {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*

  Styles for common sections that always appear in the same position
  on different pages.

  Examples: company logo, navigation bar, footer.

*/
.alert {
  font-weight: bold;
  background-color: transparent;
  padding: 15px 0;
}

.alert-danger {
  color: #eb1f22;
}

.col-md-3.col-xs-12.pull-right.cc_col_search .nav.cc_nav {
  display: none;
}

.menu_container.cc_menu_container {
  display: none;
}

.cc_home_slider {
  display: none;
}

.cc_register_account {
  display: none;
}

#cartHeader {
  display: none;
}

.container-fluid.navbar-inverse.cc_navbar-inverse {
  display: none;
}

#cc_store_logo_img {
  background-image: url("../prt/resource/1563792203000/ThemePartesa2/images/partesa-logo.png");
}

#logoUrl {
  top: 10px;
}

.header .navbar-inverse {
  background-color: #205527 !important;
}

.cc_navbar_row span,
.cc_navbar_row a {
  font-weight: bold;
}

/*

  Styles for specific pages.

  Styles in this folder do not apply to common widgets or sections.

*/
.cc_forgot_pass,
.cc_forgot_pass:hover {
  color: #227621;
}

.cc_myaccount_profile .cc_myaccount_information {
  display: none;
}

.cc_myaccount_profile .cc_myaccount_contact_information {
  display: none;
}
/*# sourceMappingURL=main.css.map */