@import 'colors';

//
// Navbar
//

.header .navbar-inverse {
    background-color: $color--green !important;
}

.cc_navbar_row span {
	font-weight: bold;
}

//
// Logo
//
#cc_store_logo_img {
    background-image: url("../images/partesa-logo.png");
}

#logoUrl {
    top: 10px;
}

//
// Main content
//

.panel-title {
    color: $color--green;
}

// Link
.cc_forgot_pass, .cc_forgot_pass:hover {
    color: $color--light-green;
}

// Input boxes
input.form-control {
    border-radius: .3em;
}

//Main buttons
.btn.btn-default {
	border-radius: .4em;
	background-color: $color--green;
	font-weight: bold;
}

//
// Alert messages
//

.alert {
    font-weight: bold;
    background-color: transparent;
}

.alert-danger {
    color: $color--red;
}

//
// Hide widgets
//

.col-md-3.col-xs-12.pull-right.cc_col_search .nav.cc_nav {
    display: none;
}

.menu_container.cc_menu_container {
    display: none;
}

.cc_home_slider {
    display: none;
}

.cc_register_account {
    display: none;
}