
.panel-title {
    color: $color--partesa-green;
    font-weight: bold;
}

.cc_content_body .panel h3.cc_title {
    color: $color--partesa-green;
    font-weight: bold;
}

h2, h4, .modal-title {
    color: $color--partesa-green;
}