#myAccountForm div.cc_myaccount_edit_user_information {
    position: fixed;
    z-index: 1001; // Perchè il logo è z-index: 1000
    width: 400px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    overflow-y: auto;
}