
.table {
    color: $color--partesa-green;
}

.table__header {
	color: $color--light-green;
}

.table__header.data--record-actions {
	visibility: hidden;
}

.table__row {
	border-bottom: none !important;
}


.data--user-name {
    text-align: left;
}

.data--is-main-user {
    text-align: center;
}

.data--role {
    text-align: left;
}

.data--record-actions {
    text-align: left;
    display: flex;
}

