.cc_myaccount_nav_list a {
    text-transform: none;
    color: $color--green;
}

#MyAccount_navSection ul li a.not_clickable {
    pointer-events: none;
}

#MyAccount_navSection ul li:nth-child(3),
#MyAccount_navSection ul li:nth-child(4) {
  text-indent: 30px;
}

#MyAccount_navSection ul li:nth-child(3) a,
#MyAccount_navSection ul li:nth-child(4) a {
    font-weight: normal;
}