.cc_myaccount_profile {

    .cc_myaccount_information {
        display: none;
    }

    .cc_myaccount_contact_information {
        display: none;
    }


}

h3.second_title {
    font-size: 13px;
}